.header {
    border-bottom: 1px solid #ECECEC;
    position: relative;
}

.header__box {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    padding-top: 12px;
}

.header__menu-backdrop {
    @media screen and (max-width: 767.98px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow-y: auto;


        display: none;
        background-color: getColor("tertiary");
        z-index: 2;

        &--is-open {
            display: block;
        }
    }
    width: 100%;

}

.header__close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .header__button--close:hover &,
    .header__button--close:focus & {
        fill: getColor("accent");
    }

    @media screen and (min-width: 768px) {
        display: none;
    }

}

.header__menu-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .header__button:hover &,
    .header__button:focus & {
        fill: getColor("accent");
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;
    cursor: pointer;

    &--close {
        position: absolute;
        top: 10px;
        right: 15px;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header__phone-menu {
    @media screen and (max-width: 767.98px) {
        padding: 48px 25px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}