.subscribe__box {
    display: flex;
    @media screen and (max-width: 1199.98px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.subscribe__input {
    width: 100%;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        min-width: 450px;
    }
    @media screen and (min-width: 1200px) {
        min-width: 358px;
        margin-bottom: 0;
        margin-right: 12px;
    }
    min-height: 50px;
    padding-left: 16px;
    padding-right: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #2F303A;
    color: getColor("tertiary");

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus {
        outline: none;
        border-color: rgba(33, 150, 243, 0.3);
    }

    &:focus::placeholder {
        color: rgba(33, 150, 243, 0.6);
    }
}

.subscribe__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    min-height: 50px;
    padding-left: 29px;
    padding-right: 28px;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: getColor("accent");

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: getColor("tertiary");

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: getColor("button-focus");
    }

    &::after {
        display: block;
        margin-left: 10px;
        content: "";
        width: 24px;
        height: 24px;
        background: rgba(0, 0, 0, 0) url(../images/send.png) no-repeat center;
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/send@2x.png) 50%;
            }
    }
}